html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  
.image {
    width:100%;
height: 100%;
background-image: url('homepic.jpg');
background-size:cover;
background-position: center;
/* background-repeat: no-repeat; */
}